.student-login {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

.login-image {
  flex: 1;
  background-image: url('../../Assets/images/LoginImage/studentLoginImg.png');
  background-size: cover;
  background-position: center;
}

.student-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 1px 25px 1px rgb(214, 211, 211);
  border-radius: 10px;
  background-color: white;
}

.student-frame h1 {
  color: rgb(0, 81, 255);
}

.student-box input {
  height: 40px;
  width: 300px;
  border: 0.5px solid rgb(191, 187, 187);
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
}

.student-box input:focus {
  box-shadow: 1px 1px 10px 1px rgb(192, 190, 190);
}

.student-forgot, .student-reg {
  margin-top: 10px;
}

.student-but button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: rgb(0, 81, 255);
  margin-top: 20px;
  cursor: pointer;
}

.studentLoginGoBackIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
