@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.studentForgetmain {
  background-image: url(../../Assets/images/ForgetPasswordImages/StudentForgetPassImg.png);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: 0 -195px;
  background-repeat: no-repeat;
  position: relative;
}
.studentForgetborder {
  margin: auto;
  margin-top: 100px;
  padding-bottom: 50px;
  width: 450px;
  border-radius: 10px;
  /* border: 3px solid black; */
}

.studentForgethead h3 {
  font-family: "Righteous", serif;
  font-weight: 400;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 35px;
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
  /* border: 3px solid black; */
}
.studentForgetGoBackIcon{
    height: 30px;
    width: 35px;
    cursor: pointer;
    color:  rgb(124, 6, 6);   
  }
.studentRefresh {
  /* border: 3px solid black; */
  margin-left: 35px;
  margin-bottom: 20px;
  color: rgb(124, 6, 6);
  height: 20px;
  width: 20px;
}
.studentForgetinput {
  width: 350px;
  margin-top: 50px;
  margin: auto;
}

.studentForgetinput input {
   margin-bottom: 25px;
 border-radius: 10px;
 padding-left: 30PX;
 height:40px;
}

.studentForgetbutton {
  margin-top: 25px;
}

.studentForgetbutton button {
  border-radius: 5px;
  background-color: rgb(124, 6, 6);
  border: rgb(124, 6, 6);
}
.studentForgetbutton button:hover{
    background-color: rgb(153, 8, 8);
}
.studentForgeterrorContainer{
  min-width: 200px; 
  max-width: fit-content;
  width: auto;
  height: auto;
  padding: 10px 15px; 
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(248, 248, 248);
  color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 5px;
  word-wrap: break-word; 
  white-space: normal; 
}
.studentForgetsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.studentForgeterroricon {
  margin-bottom: 3px;
  padding-right: 7px;

}
.studentForgetsuccessicon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}
.form-control:focus {
  border-color: rgb(138, 138, 138);
  box-shadow:1px 1px 10px 1px rgb(214, 214, 214)}

.studentForgetcustom-btn:active {
    background-color:rgb(151, 50, 50)!important; 
    
  }
  
.studentForgetlink {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.studentForgetlink a{
    color:#a00000;
    text-decoration: none;
}
