@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.studentForgetContainer{
  background-color: #E580A0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.studentForgetGoBackContainer{
  position: absolute;
  top: 5px;
  right: 5px;
}
.studentForgetGoBackIcon {
  cursor: pointer;
  color: rgb(124, 6, 6);
  font-size: 1.9rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
.studentForgetImageContainer {
  position: absolute;
  bottom: 4px;  
  right: 10px;   
  max-width: 350px; 
}
@media (max-width: 768px) {
  .studentForgetImageContainer {
    max-width:100px;
    max-height:100px;
    right: 1px;
    bottom:2px;
  }
}

 .studentForgetborder {
  width: 100%;
  max-width: 350px;
}
@media (max-width: 512px) {
  .studentForgetborder {
    padding: 20px;
  }
}
.studentForgetinput input{
  margin-bottom: 15px;
  border-radius: 8px;
  padding-left: 38px;
}
.studentForgetHead h3{
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
  margin-bottom: 20px;
}
.studentForgeterrorContainer{
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(249, 249, 249);
  color: rgb(198, 4, 4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .studentForgeterrorContainer {
    font-size: 14px; 
    padding: 8px 12px;
  }
}
@media (min-width: 768px) {
  .studentForgeterrorContainer {
    font-size: 16px;
  }
}

.studentForgetHead{
  display: flex;
  justify-content: center;
}

.studentRefresh{
  margin-left: 35px;
  margin-bottom: 20px;
  height:20px;
  width:20px;
  color: rgb(124, 6, 6);

}

.studentForgeterroricon{
  margin-bottom: 3px;
  padding-right: 7px;
}
.studentForgetsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.studentForgetsuccessicon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}
.studentForgeticon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.studentForgetLink{
  text-align: center;
  margin-top: 5px;
  font-family:Arial;
color:rgb(11, 11, 11);
 }
 .studentForgetLink a{
  color:#a00000;
   text-decoration: underline;
  font-family: Arial;
}
.studentForgetButton button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(124, 6, 6);
  border: none;
  font-family: Arial;
}
.studentForgetButton button:hover {
  background-color: rgb(153, 8, 8);
}