@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.StudentRegborder{

    width:500px;
    padding-bottom: 60px;
    margin-left: 210px;
    margin-top: 50px;
}

.StudentContainer{
    background-image:url(../../Assets/images/RegistrationImage/Regbackgroundimg.png);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: 0 -150px;
    background-repeat: no-repeat;
}

.StudentReghead h3{
    font-weight: 400;
   padding-top:5px ;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Righteous", serif;
    color: rgb(159, 71, 71);
}

.StudentRegGoBackIcon{
    height: 30px;
    width: 35px;
    cursor: pointer;
    color: rgb(159, 71, 71);   
}

.StudentReginput {
    width: 350px;
    
}
.StudentReginput input{
   margin-bottom: 25px;
   border-radius: 10px;
   padding-left: 30PX;

}
.StudentRegbutton{
    margin-top: 45px;
    
}
.StudentRegbutton button{
    border-radius: 5px;
     background-color:  rgb(159, 71, 71);
     border:rgb(159, 71, 71);
}
.StudentRegbutton button:hover{
    background-color:rgb(180, 85, 85);
}
.form-control:focus{
    border-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 10px 1px rgb(214, 214, 214)
}
.StudentReglink{
    text-align: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.StudentReglink a{
   color:#f04242;
   text-decoration: none;
}
 
.custom-btn:active {
    background-color: #e38585 !important; /* Green color */
    
  }
  .studentregcustom-icon {
    color: #4c4a4a; /* Custom Green */
   
  }