@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.studentRegContainer {
  background-color: #E580A0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.studentRegImageContainer {
  position: absolute;
  bottom: 4px;  
  right: 10px;   
  max-width: 350px; 
  
}

@media (max-width: 768px) {
  .studentRegImageContainer {
    max-width:100px;
    right: 1px;
  }
}
.studentRegGoBackContainer{
  position: absolute;
  top: 5px;
  right: 5px;
}
.studentRegGoBackIcon {
  cursor: pointer;
  color: rgb(124, 6, 6);
  font-size: 1.9rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

.studentRegBorder {
  width: 100%;
  max-width: 350px;
}

.studentRegHead h3{
  text-align: center;
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
  margin-bottom: 20px;
}
.studentReginput input{
  margin-bottom: 15px;
  border-radius: 8px;
  padding-left: 38px;
  
}
.studentRegIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

.studentRegButton button {
  background-color:rgb(124, 6, 6);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;}

.studentRegButton button:hover {
  background-color: rgb(153, 8, 8);
  transform: scale(1.01);
}
.studentReg Button button:active{
  transform: scale(0.95);

}

@media (max-width: 768px) {
  .studentRegHead {
    font-size: 1.5rem;
  }
}

@media (max-width: 512px) {
  .studentRegBorder {
    padding: 20px;
  }

  .studentRegHead {
    font-size: 1.3rem;
  }
}
.studentRegImage{
  object-position: 0px 39px;
 }
 .studentRegLink{
  text-align: center;
  margin-top: 5px;
  font-family: arial;
}
.studentRegLink a{
  color:#a00000;
   text-decoration: underline;
}
.studentRegerrorContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(249, 249, 249);
  color: rgb(198, 4, 4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 480px) {
  .studentRegerrorContainer {
    font-size: 14px; 
    padding: 8px 12px;
  }
}

@media (min-width: 768px) {
  .studentRegerrorContainer {
    font-size: 16px;
  }
}
.studentRegerroricon{
  margin-bottom: 3px;
  padding-right: 7px;
}
.studentRegsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.studentRegsuccessicon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}
