@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.studentlogborder {
  padding-bottom: 30px;
  width: 500px;
  margin-right: 250px;
  margin-top: 100px;
  margin-left: 190px;
  /* border: 2px solid black; */
}

.studentlogcontainer {
  background-image: url(../../Assets/images/LoginImage/StudentLogImg.png);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: 0 -145px;
  background-repeat: no-repeat;
  position: relative;
}

.studentloghead h3 {
  font-weight: 400;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
}

.studentlogGoBackIcon {
  height: 30px;
  width: 35px;
  cursor: pointer;
  color: rgb(124, 6, 6);
}
.studentloginput {
  width: 350px;
  margin: auto;
  /* border: 2px solid black; */
}
.studentloginput input {
  margin-bottom: 25px;
  border-radius: 10px;
  padding-left: 30px;
}
.studentlogerrorContainer {
  min-width: 200px; 
  max-width: fit-content;
  width: auto;
  height: auto;
  padding: 10px 15px; 
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(248, 248, 248);
  color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 5px;
  word-wrap: break-word; 
  white-space: normal; 
}
.studentlogerroricon {
  margin-bottom: 3px;
  padding-right: 7px;
}
.studentlogsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.studentlogsuccessicon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}

.studentlogbutton {
  margin-top: 20px;
}

.studentlogbutton button {
  border-radius: 5px;
  background-color: rgb(124, 6, 6);
  border: rgb(124, 6, 6);
}

.studentlogbutton button:hover {
  background-color: rgb(153, 8, 8);
}

.studentlogcustom-btn:active {
  background-color: rgb(151, 50, 50) !important; /* Green color */
}
.form-control:focus {
  border-color: rgb(138, 138, 138);
  box-shadow: 1px 1px 10px 1px rgb(192, 190, 190);
}
.studentloglink {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.studentloglink a {
  color: #a00000;
  text-decoration: none;
}
