@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.stafflogborder{
    padding-bottom: 30px;
    width:500px;
    margin-right: 150px;
    margin-top: 100px;
    margin-left: 355px;
}
.stafflogcontainer{
    background-image:url(../../Assets/images/LoginImage/StaffLogImg.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size:  cover;
    background-position: 0 -145px;
    background-repeat: no-repeat;
    position: relative;
}
.staffloghead h3{
    font-weight: 400;
    padding-top:5px ;
     text-align: center;
     margin-bottom: 40px;
     font-family: "Righteous", serif;
     color: rgb(159, 71, 71);
   
}
.stafflogGoBackIcon{
    height: 30px;
    width: 35px;
    cursor: pointer;
    color: rgb(159, 71, 71);   
}
.staffloginput {
    width: 350px;
}
.staffloginput input{
    margin-bottom: 25px;
   border-radius: 10px;
   padding-left: 30PX;
}
.stafflogbutton{
    margin-top: 20px;
}
.stafflogbutton button{
    border-radius: 5px;
    background-color:  rgb(159, 71, 71);
    border:rgb(159, 71, 71);
}
.stafflogbutton button:hover{
    background-color:rgb(180, 85, 85);
}
.stafflogcustom-btn:active {
    background-color: #e38585 !important; /* Green color */
    
  } 
.form-control:focus{
    border-color: rgb(138, 138, 138);
    box-shadow: 1px 1px 10px 1px rgb(192, 190, 190)
}
.staffloglink{
    text-align: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.staffloglink a{
    color:#e82727;
    text-decoration: none;
 }