@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.staffRegContainer {
  background-color: #E580A0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.staffRegImageContainer {
  position: absolute;
  bottom: 4px;  
  right: 10px;   
  max-width: 350px; 
  
}

@media (max-width: 768px) {
  .staffRegImageContainer {
    max-width:100px;
    right: 1px;
  }
}
.staffRegGoBackContainer{
  position: absolute;
  top: 5px;
  right: 5px;
}
.staffRegGoBackIcon {
  cursor: pointer;
  color: rgb(124, 6, 6);
  font-size: 1.9rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

.staffRegBorder {
  width: 100%;
  max-width: 350px;
}

.staffRegHead h3{
  text-align: center;
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
  margin-bottom: 20px;
}
.staffReginput input{
  margin-bottom: 15px;
  border-radius: 8px;
  padding-left: 38px;
  
}
.staffRegIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

.staffRegButton button {
  border-radius: 5px;
  background-color: rgb(124, 6, 6);
  border: none;
}

.staffRegButton button:hover {
  background-color: rgb(153, 8, 8);
}


@media (max-width: 768px) {
  .staffRegHead {
    font-size: 1.5rem;
  }
}

@media (max-width: 512px) {
  .staffRegBorder {
    padding: 20px;
  }

  .staffRegHead {
    font-size: 1.3rem;
  }
}
.staffRegImage{
  object-position: 0px 39px;
 }
 .staffRegLink{
  text-align: center;
  margin-top: 5px;
  font-family: arial;
}
.staffRegLink a{
  color:#a00000;
   text-decoration: underline;
}
.staffRegerrorContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(249, 249, 249);
  color: rgb(198, 4, 4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 480px) {
  .staffRegerrorContainer {
    font-size: 14px; 
    padding: 8px 12px;
  }
}

@media (min-width: 768px) {
  .staffRegerrorContainer {
    font-size: 16px;
  }
}
.staffRegerroricon{
  margin-bottom: 3px;
  padding-right: 7px;
}
.staffRegsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.staffRegsuccessicon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}
