.staffborder{
    margin:auto;
    padding-bottom: 30px;
    width:500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(197, 191, 191)
}

.staffContaine{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.staffhead{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(0, 81, 255); 
}

.staffinput {
    width: 350px;
    margin-top: 50px;
    margin-left: 70px;
}
.staffinput input{
   margin-bottom: 25px;
   border-radius: 10px;
}
.staffbutton{
    margin-top: 20px;
    
}
.staffbutton button{
    border-radius: 5px;
}
.form-control:focus{
    border-color: rgb(138, 138, 138);
    box-shadow: 1px 1px 10px 1px rgb(192, 190, 190)
}
.stafflink{
    text-align: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.StaffCodeContainer{
    position: absolute;
}