@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.stafflogborder {
  padding-bottom: 30px;
  width: 500px;
  margin-right: 150px;
  margin-top: 100px;
  margin-left: 355px;
}
.stafflogcontainer {
  background-image: url(../../Assets/images/LoginImage/StaffLogImg.png);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: 0 -145px;
  background-repeat: no-repeat;
  position: relative;
}
.staffloghead h3 {
  font-weight: 400;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Righteous", serif;
  color: rgb(124, 6, 6);
}
.stafflogGoBackIcon {
  height: 30px;
  width: 35px;
  cursor: pointer;
  color: rgb(124, 6, 6);
}
.staffloginput {
  width: 350px;
  margin: auto;
}
.staffloginput input {
  margin-bottom: 25px;
  border-radius: 10px;
  padding-left: 30px;
}
.stafflogbutton {
  margin-top: 20px;
}
.stafflogbutton button {
  border-radius: 5px;
  background-color: rgb(124, 6, 6);
  border: rgb(124, 6, 6);
}
.stafflogbutton button:hover {
  background-color: rgb(153, 8, 8);
}
.stafflogcustom-btn:active {
  background-color: rgb(151, 50, 50) !important; /* Green color */
}
.form-control:focus {
  border-color: rgb(138, 138, 138);
  box-shadow: 1px 1px 10px 1px rgb(192, 190, 190);
}
.staffloglink {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.staffloglink a {
  color: #a00000;
  text-decoration: none;
}

.stafflogerrorContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(248, 248, 248);
  color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.stafflogsuccessContainer {
  height: 50px;
  width: 260px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(188, 248, 156, 0.582);
  color: rgb(59, 128, 53);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.stafflogerroricon {
  margin-bottom: 3px;
  padding-right: 7px;
  padding-left: 10px;
}
