/* General Styling for Sidebar */
.AdminDashboardsidebar-container {
  display: flex;
  flex-direction: column;
}

.AdminDashboardsidebar {
  width: 250px;
  background-color: black;
  color: white;
  padding: 30px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.Admindashboardname {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  color: #ecf0f1;
}

.Admindashboardname .sidebaricon {
  margin-right: 10px;
  font-size: 28px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  color: #ecf0f1;
}

ul li:hover {
  background-color: #34495e;
}

ul li .sidebaricon {
  margin-right: 15px;
  font-size: 22px;
}

/* Logout Button */
.logout-btn-container {
  margin-top: auto;
}

.logout-btn {
  padding: 12px;
  background-color: #f5402c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

.logout-btn:hover {
  background-color: #c0392b;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
  .AdminDashboardsidebar {
    width: 200px; /* Adjust width */
  }

  .AdminDashboardsidebar-container {
    display: block;
  }

  .logout-btn-container {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .AdminDashboardsidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .AdminDashboardsidebar.active {
    transform: translateX(0);
  }

  .AdminDashboardsidebar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .AdminDashboardsidebar ul li {
    padding: 15px;
    text-align: center;
  }

  .AdminDashboardsidebar-container {
    position: relative;
  }

}

/* Add active state styling for when sidebar is visible on mobile */
.AdminDashboardsidebar.active {
  transform: translateX(0);
}




