*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.AdminAddingBookscontainer{
    height: 490px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(197, 191, 191);
    margin-top:75px;
    margin-left:35%;
}
.addbookshead{
    text-align: center;
   padding-top: 20px;
   color: rgb(0, 81, 255);
}
.addbookinputs {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center; 
    margin-top: 35px;
  }
  .addbookinputs input {
    width: 300px; 
    height: 40px;
  }
  .addbookfile{
    display: flex;
    margin-left:15%;
    margin-top:30px; 
  }
  .addbookfile input{
    width:300px;
  }
  .addbookbut{
    margin-left:15%;
    margin-top:30px;
    gap: 20px;
  }
  .form-control:focus {
    border-color: rgb(138, 138, 138);
    box-shadow: 1px 1px 10px 1px rgb(192, 190, 190);
  }
