@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Font Sizes for Responsiveness */
@media (max-width: 600px) {
  .homeContainer {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .homeContainer {
    font-size: 1rem;
  }
}

@media (min-width: 1201px) {
  .homeContainer {
    font-size: 1.2rem;
  }
}

/* General Styles */
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color:#ffffff;
  color: #333; /* Neutral Text Color */
}

h3 {
  font-family: "Righteous", serif;
  font-weight: 700;
  color: rgb(124, 6, 6);
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: rgb(0, 0, 0); /* Dark Gray */
}

.quote {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(0, 0, 0); /* Teal */
}

.authorName {
  margin-inline-start: 40%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
   color: rgb(124, 6, 6);
  
}
