@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.khLogo{
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.navbar-collapse .navbar-nav .active{
  color: rgb(124, 6, 6);
  font-family: "Righteous", serif;

}

.cgProfile{
  height: 30px;
  width: 30px;
}

.profilePopupContainer{
  position: absolute;
  right: 60px;
  top: 80px;
}


.khNavbar{
  position: relative;
}


.favIcon{
  color: red;
}

