*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

.khLogo{
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.navbar-collapse .navbar-nav .active{
  color: #008080; /* Teal */
}

.cgProfile{
  height: 30px;
  width: 30px;
}

.profilePopupContainer{
  position: absolute;
  right: 60px;
  top: 80px;
}


.khNavbar{
  position: relative;
}