/* Profile Popup Container */
.profilePopupContainer {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  /* Style for the logout button */
  .logoutBtn {
    background-color: rgb(124, 6, 6);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  
  .logoutBtn:hover {
    background-color: rgb(153, 8, 8);
    transform: scale(1.05);
   }
   .logoutBtn:active {
    transform: scale(0.95);
   }

  
  .profilePopupHeader{
    padding-right:50px;
  }
  .profileUserName{
    color: rgb(35, 102, 124);
  }