.stafflogborder{
    margin:auto;
    margin-top: 100px;
    height:470px;
    width:450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(197, 191, 191)
}
.staffloghead{
   padding-top:50px ;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(0, 81, 255);
   
}
.staffloginput {
 
    width: 350px;
    margin-top: 50px;
    margin:auto;
    

}
.staffloginput input{
   margin-bottom: 25px;
   border-radius: 10px;
   height: 50px;
}
.stafflogbutton{
    margin-top: 25px;
}
.stafflogbutton button{
    border-radius: 5px;
}
.form-control:focus{
    border-color: rgb(138, 138, 138);
    box-shadow: 1px 1px 10px 1px rgb(192, 190, 190)
}
.staffloglink{
    text-align: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}