*{
  margin: 0;
  padding: 0;
}

.student-login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.student-frame{
  height: 500px;
  width: 420px;
  text-align: center;
 box-shadow: 5px 5px 15px 5px gray;
 border-radius: 10px;
}

.student-frame h1{
 margin-top: 50px;
 /* font-weight: 300; */
 color:  rgb(0, 81, 255);
}

.student-box{
  margin-top: 30px;
}

.student-box input{
  height: 40px;
  width: 300px; 
  border :0.5px solid rgb(191, 187, 187);
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
}

.student-box input:focus{
 box-shadow: 1px 1px 10px 1px rgb(192,190,190);
}

.student-forgot{
  margin-top: 10px;
  margin-left: 170px;
}

.student-forgot a{
  font-weight: 400;
}

.student-but{
  margin-top: 30px;
}

.student-but button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: rgb(0, 81, 255);
}

.student-reg{
  margin-top: 30px;
}

.student-reg p{
  font-weight: 500;
}

