@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.tabs-container {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  cursor: pointer;
  background-color: white;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 10px;
  text-align: center;
  background-color: #e2e2e2;
  font-size: 18px;
  color: #333;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #d1d1d1;
}

.tab.active {
  background-color: #fff;
  border-bottom: 5px solid rgb(124, 6, 6);
  color:rgb(124, 6, 6);
  font-family: "Righteous", serif;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 600px) {
  .tabs-container {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .tabs-container {
    font-size: 1rem;
  }
}

@media (min-width: 1201px) {
  .tabs-container {
    font-size: 1.2rem;
  }
}
.tab{
  background-color: #cacaca;
  font-family: "Righteous", serif;
  color: black;
}