/* FlipBook Container */
.LentedBookFlipBookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa;
  border-radius: 15px;
}

/* FlipBook */
.LentedBookFlipBook {
  width: 90vw;
  max-width: 750px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Ensures Pages Fit Properly */
.LentedFlipBookPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgb(192, 190, 190);
  border:2px solid black
}

/* Ensures Images Fit Properly */
.LentedFlipBookImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: auto; /* Let the browser decide for best quality */
  filter: contrast(1.2) brightness(1.15);
  transform: scale(0.99); /* Prevents blurriness at smaller sizes */
}

/* Button */
.LentedBookCloseButton {
  background-color: rgb(124, 6, 6);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  z-index: 2;
}

.LentedBookCloseButton:hover {
  background-color: rgb(153, 8, 8);
  transform: scale(1.01);
}
.LentedBookCloseButton:active {
  transform: scale(0.95);

}


/* Responsive Adjustments */
@media (max-width: 1024px) {
  .LentedBookFlipBook {
    max-width: 650px;
  }
}

@media (max-width: 700px) {
  .LentedBookFlipBook {
    max-width: 90vw;
    height: 80vh;
  }
}

@media (max-width: 400px) {
  .LentedBookFlipBook {
    max-width: 95vw;
    height: 80vh;
  }
}