.LentedBookContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: clamp(10px, 2vw, 20px);
  max-width: 90%;
  margin: auto;
  height: auto;
  min-height: 80vh;
}

/* Image Styling */
.LentedBookImage {
  width: clamp(220px, 45vw, 380px);
  max-height: 500px;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover Effects */
.LentedBookContainer:hover {
  transform: scale(1.02);
}

.LentedBookImage:hover {
  transform: scale(1.05);
}

/* Details Section */
.LentedBookDetails {
  align-self: center;
  padding: clamp(10px, 2vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 400px;
}

.LentedBookTitle {
  font-size: clamp(1.8rem, 4vw, 2.5rem); 
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.LentedBookAuthor {
  font-size: clamp(1rem, 2.5vw, 1.4rem); 
  color: #555;
}

.LentedBookDescription {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  color: #666;
  line-height: 1.6;
}


h2 {
  font-size: clamp(1.8rem, 4.5vw, 2.5rem);
  font-weight: 700;
  color: #333;
}

.LentedBookReadMoreButton {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-top: 1rem;
  padding: 0.7rem 1.4rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.LentedBookReadMoreButton:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

@media (max-width: 740px), (max-height: 480px) {
  .LentedBookContainer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 10px;
    min-height: auto;
  }

  .LentedBookImage {
    width: 90%;
    max-height: 350px; 
  }

  .LentedBookDetails {
    max-width: 100%;
    padding: 10px;
  }

  .LentedBookTitle {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
  }

  .LentedBookAuthor {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  .LentedBookDescription {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }

  .LentedBookReadMoreButton {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding: 0.6rem 1.2rem;
  }
}
